@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0;
  background-color: #8C4C02; /* Set your desired background color */
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #0077FF; /* Change the link color to your preference */
}

/* Add more styles for specific elements as needed *